<h1><%= @cocktail.name %></h1>

<div><%= cl_image_tag @cocktail.image, height: 300, width: 400, crop: :fill, class: "img-responsive" if @cocktail.image? %>
</div>
<h2>Ingredients</h2>
<p><%= "No ingredients yet" if @doses.empty? %></p>
<ul>
  <% @doses.each do |dose| %>
    <li><%= dose.ingredient.name %>: <%= dose.description %>
      <%= link_to "delete", cocktail_dose_path(@cocktail, dose), method: :delete, data: {confirm: "Are you sure that you want to delete ingredient?"} %>
    </li>
  <% end %>
</ul>

<%= link_to new_cocktail_dose_path(@cocktail) do %>
  <i class='fa fa-plus' aria-hidden='true'></i> Add an ingredient
<% end %>
