<div class="container">
<h1>Add a dose</h1>
<p>Cocktail: <%= @cocktail.name %></p>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: @ingredients %>
  <%= f.button :submit %>
<% end %>
</div>
